name: Test CasADi

on:
  push:
  workflow_dispatch:

jobs:
  test-shutdown:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Download matlab artifact
        run: |
          C:\msys64\usr\bin\wget.exe https://github.com/casadi/casadi/releases/download/nightly-main/casadi-main-windows64-matlab2018b.zip -O casadi-windows64-matlab2018b.zip

      - name: Unpack source
        run: unzip casadi-windows64-matlab2018b.zip -d casadi

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2025a

      - name: Diag - clear mex then quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); import casadi.*; x=MX.sym('x'); xdot=x; dae=struct('x',x,'ode',xdot); F=integrator('F','rk',dae,0,1); clear mex; pause(1)

      - name: Diag - clear all then quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); import casadi.*; x=MX.sym('x'); xdot=x; dae=struct('x',x,'ode',xdot); F=integrator('F','rk',dae,0,1); clear all; pause(1)
