name: Test CasADi

on:
  push:
  workflow_dispatch:

jobs:
  test-casadi:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Get Python version
        id: pyver
        run: |
          PYVER=$(python3 -c "import sys; print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
          echo "pyver=$PYVER" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          pip3 install numpy scipy
          pip3 install https://github.com/casadi/casadi/releases/download/nightly-mac_update/casadi-3.7.2.dev+mac.update-${{ steps.pyver.outputs.pyver }}-none-macosx_10_13_x86_64.macosx_10_13_intel.whl

      - name: Run debug script
        run: |
          python3 debug.py
