name: Test CasADi

on:
  push:
  workflow_dispatch:

jobs:
  test-nightly:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Download CasADi nightly
        run: |
          C:\msys64\usr\bin\wget.exe https://github.com/casadi/casadi/releases/download/nightly-main/casadi-main-windows64-matlab2018b.zip -O casadi.zip

      - name: Unpack
        run: unzip casadi.zip -d casadi

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2025a

      - name: Diag - clear mex then quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); test_single_plugin('Integrator::rk'); clear mex; pause(1)

      - name: Diag - clear all then quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); test_single_plugin('Integrator::rk'); clear all; pause(1)

      - name: Diag - just quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); test_single_plugin('Integrator::rk')

  test-v372:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Download CasADi 3.7.2
        run: |
          C:\msys64\usr\bin\wget.exe https://github.com/casadi/casadi/releases/download/3.7.2/casadi-3.7.2-windows64-matlab2018b.zip -O casadi.zip

      - name: Unpack
        run: unzip casadi.zip -d casadi

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2025a

      - name: Diag - clear mex then quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); test_single_plugin('Integrator::rk'); clear mex; pause(1)

      - name: Diag - clear all then quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); test_single_plugin('Integrator::rk'); clear all; pause(1)

      - name: Diag - just quit
        uses: matlab-actions/run-command@v2
        with:
          command: addpath('${{ github.workspace }}/casadi'); test_single_plugin('Integrator::rk')
